.bgimage {
    height: 50vh;
    background: radial-gradient(rgb(31, 31, 31), rgb(26, 26, 26));
    background-size:cover;
    position:relative;
}

.hero_title {
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.hero_desc {
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Raleway', sans-serif;
}

.about-text {
    font-size: 18px;
}

.custom-button {
    color: rgb(255, 255, 255) !important;
    background: linear-gradient(rgb(56, 56, 56), rgb(26, 26, 26)) !important;
}

.navbar-nav a {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.navbar-brand {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.navbarScroll.navbarDark {
    background-color: rgb(25, 25, 25);
}

.row.no-gutters [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-github:hover, .fa-linkedin:hover {
    color: rgb(65, 65, 255);
}
.fab {
    color: rgb(255, 255, 255);
}

#footer {
    background: radial-gradient(rgb(0, 0, 0), rgb(36, 36, 36));
    text-align: center;
}